.carousel {
    height: 300px;
}

.carousel .item {
    height: 300px;
    background-color: #0066cc
}

.carousel .item img {
    width: 100%
}

#sumary-container {
    text-align: center;
}

#sumary-container .col-md-4 img {
    width: 33%;

}