<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen"/>
        <link href="{{ url_for('static',filename='css/personal/basic.css') }}" rel="stylesheet"/>
    {% endblock styles %}
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include "menu.html" %}
{% block body_content %}{% endblock body_content %}
{% block body_js %}
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{% endblock body_js %}
<hr class="divider">
<div class="foot_div">
    <footer>
        <p class="pull-right footer-top"><a href="#top"> 回到顶部</a></p>
        <p class="footer-p"> Design by WangJing @2017</p>
    </footer>
</div>
{#弹出框#}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">本站信息</h4>
            </div>
            <div class="modal-body">
                <h2>本站信息</h2>
                <p>开发框架：Flask + Bootstrap + Angularjs</p>
                <p>中间件：Nginx +uswgi</p>
                <p>开放者：WangJing</p>
                <p>业务微信：timorkinger</p>
            </div>
            <div class="modal-footer">
                <a href="mailto:289363142@qq.com">给我发邮件</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>