{% extends "base.html" %}
{% block title %}My Flask  WebSite{% endblock title %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/personal/basic.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/personal/carousel.css') }}" rel="stylesheet" />
{% endblock %}
{% block body_content %}
    {#    轮播组件开始#}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="http://www.baidu.com" target="_blank"><img
                        src="{{ url_for('static',filename='pic/safari.jpg') }}" alt="safari"></a>
                {#                <div class="carousel-caption">#}
                {#                    <h1>safari浏览器</h1>#}
                {#                    <a  class="btn btn-lg btn-primary" href="#" role="button">点击我下载</a>#}
                {#                </div>#}
            </div>
            <div class="item">
                <a href="http://www.baidu.com" target="_blank"><img
                        src="{{ url_for('static',filename='pic/opera.jpg') }}" alt="opera">s</a>
                {#                <div class="carousel-caption">#}
                {#                    <h1>safari浏览器</h1>#}
                {#                    <a   class="btn btn-lg btn-primary" href="#" role="button">点击我下载</a>#}
                {#                </div>#}
            </div>
            <div class="item">
                <a href="http://www.baidu.com" target="_blank"><img
                        src="{{ url_for('static',filename='pic/firefox.jpg') }}" alt="firefox"></a>
                {#                <div class="carousel-caption">#}
                {#                    <h1>safari浏览器</h1>#}
                {#                    <a  class="btn btn-lg btn-primary" href="#" role="button">点击我下载</a>#}
                {#                </div>#}
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="FALSE"></span>
            <span class="sr-only">上一页</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">下一页</span>
        </a>

    </div>
    <div class="container" id="sumary-container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ url_for('static',filename='pic/opera.jpg') }}" alt="safari">
                <h2>一个飞快的浏览器</h2>
            </div>
            <div class="col-md-4">
                <img src="{{ url_for('static',filename='pic/opera.jpg') }}" alt="safari">
                <h2>一个飞快的浏览器</h2>
            </div>
            <div class="col-md-4">
                <img src="{{ url_for('static',filename='pic/opera.jpg') }}" alt="safari">
                <h2>一个飞快的浏览器</h2>
            </div>
        </div>
    </div>

    {#    轮播组件结束#}
    <div class="text-center">
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
        <div><h3>welcome to my first Web,尊敬的{{ current_user.username }}!</h3></div>
    </div>
{% endblock body_content %}
{% block body_js %}
    {{ super() }}
{% endblock body_js %}